<%- include("../partials/header") %>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a8d80231ea.js" crossorigin="anonymous"></script>

    <!-- Skill Table -->
    <a class="link" href="/">Back to home</a>

    <h1><%= title %></h1>

    <!-- Skill Table -->
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="w-2" scope="row"></th>
                    <th scope="row">Skill</th>
                    <th scope="row">Learned</th>
                </tr>
            </thead>
            <tbody>
                <% skills.forEach((skill, i) => { %>
                    <tr>
                        <td></td>
                        <td>
                            <i class="w-2 <%= skill.icon %>"></i> <a href="/skills/<%= skill._id %>"><%= skill.name %></a>
                        </td>
                        <td><%- skill.learned ? '<i class="fa-solid fa-check"></i>' : "" %></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    </div>

<%- include("../partials/footer") %>