<%- include("../partials/header") %>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/a8d80231ea.js" crossorigin="anonymous"></script>

    <!-- Link back -->
    <a href="/skills">Back to skills</a>

    <!-- Single skill info -->
    <h1><%= title %>  <i class="<%= skill.icon %>"></i></h1>
    <div>
        <h3>Learned?</h3>
        <p><%- skill.learned ? 'YES' : "NO" %></p>
    </div>

<%- include("../partials/footer") %>
